.card{
    width: 401px;
    padding: 56px 72px 70px;
    box-shadow: 0px 0px 4px 0px #00000025;
}
.card img{
    margin: 0px auto;
}

.card h3{
    font-size: 32px;
    color: #414040;
    font-weight: 800px;
    margin: 31px auto 24px auto ;
}
.card p{
    font-size: 16px;
    color: #707070;
    line-height: 26px;
    margin-bottom: 32px;
}

.bacground {
    background: linear-gradient(rgba(0, 0, 0, 0.562) ), url(../images/banner.png);
}

.card2{
    background-color: #7070703d;
    color: #414040;
    padding: 24px;
}

.operators{
    font-size: 36px;
    color: #414040;
}

.contact-info{
    width: 900px;
}

.contact-card{
    background-color: #70707023;
    padding: 40px 20px;
    text-align: center;
}

.contact-card img{
    margin: 0px auto;
    margin-bottom: 16px;
}

.border-r-b{
    border-bottom: 2px solid #CFCFCF;
    border-right: 2px solid #CFCFCF;
}

.border-l-t{
    border-top: 2px solid #CFCFCF;
    border-left: 2px solid #CFCFCF;
}